<div class="row h-100">
    <div class="col-lg-5 col-md-6">

        <!-- Login Form  -->
        <form class="row h-100 justify-content-center align-items-center" [formGroup]="formLogin">
            <div class="col-12">
                <div class="row p-lg-5 p-md-1 p-1">
                    <div class="col-12 mb-3">
                        <div class="input-group">
                            <span class="input-group-text">
                                <fa-icon [icon]="faUser"></fa-icon>
                            </span>
                            <input [maxlength]="maxLength" formControlName="username" id="username" type="text" class="form-control" placeholder="Username" aria-label="Username">
                        </div>
                        <ng-container *ngTemplateOutlet="msgError; context: {error: formLogin.get('username')?.errors, value: formLogin.get('username')?.value}"></ng-container>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="input-group">
                            <span class="input-group-text">
                                <fa-icon [icon]="faLock"></fa-icon>
                            </span>
                            <input [maxlength]="maxLength" formControlName="password" id="password" [type]="showPassword?'text':'password'" class="form-control" placeholder="Password" aria-label="Password">
                            <button (click)="showPassword = !showPassword" class="btn btn-outline-secondary" type="button" id="button-addon2">
                                <fa-icon [icon]="showPassword?faEyeSlash:faEye"></fa-icon>
                            </button>
                        </div>
                        <ng-container *ngTemplateOutlet="msgError; context: {error: formLogin.get('password')?.errors, value: formLogin.get('password')?.value}"></ng-container>
                    </div>
                    <div class="col-12 mb-3">
                        <button [disabled]="formLogin.invalid" class="btn btn-primary w-100">
                            Join
                        </button>
                    </div>
                    <div class="col-12 text-center">
                        <h6>Forgot my password</h6>
                        <h5>Don't have an account? 
                            <a routerLink="/auth/signup">Sign up here</a>
                        </h5>
                    </div>
                </div>
                
            </div>
        </form>
    </div>
    <div class="col-lg-7 col-md-6 p-0 d-md-block d-none">
        <!-- this image belongs to Diggeo -->
        <div class="image-login"></div>
    </div>
</div>

<ng-template let-error="error" let-value="value" #msgError>
    <div *ngIf="error?.minlength" class="form-text color-red">
        {{error.minlength.requiredLength}} or more characters are required, you have written {{error.minlength.actualLength}}
    </div>
    <div *ngIf="value != null && 0 < value.length && error?.required" class="form-text color-red">
        This field is required
    </div>
    <div *ngIf="error?.pattern" class="form-text color-red">
        Special characters are not allowed, except (.) and (_)
    </div>
</ng-template>