<!-- Footer -->
<footer>
    <div class="row m-0 wrapper text-center align-items-center">
        
        <div class="col-12">
            <p class="m-0">
                Made by Diego Yance
                <br>
                Contact me!
            </p>
        </div>

        <!-- <div class="col-12 col-md py-2 py-md-0">
            <a target="_blank" class="btn btn-whatsapp" href="https://api.whatsapp.com/send?phone=51977157169">
                <fa-icon [icon]="faWhatsapp"></fa-icon> Whatsapp
            </a>
        </div>
        <div class="col-12 col-md py-2 py-md-0">
            <a class="btn btn-call" href="tel:+51977157169">
                <fa-icon [icon]="faPhone"></fa-icon> +51 977157169
            </a>
        </div>
        <div class="col-12 col-md py-2 py-md-0">
            <a class="btn btn-mail" href="mailto:diego.yance.arqque@gmail.com">
                <fa-icon [icon]="faEnvelope"></fa-icon> Email
            </a>
        </div> -->
    </div>
</footer>